{project_plugins, [rebar3_proper]}.

%% Set up a standalone script to set up the DB
{escript_name, "bookstore_init"}.
{escript_emu_args, "%%! -escript main bookstore_init\n"}.

{deps, [
    eql,
    {pgsql, "26.0.1"}
]}.

{profiles, [
  {test, [
    {erl_opts, [nowarn_export_all]},
    {deps, [{proper, "1.3.0"}]}
  ]}
]}.

%% auto-boot the app when calling `rebar3 shell'
{shell, [{apps, [bookstore]}]}.
