%% the plugin itself
{project_plugins, [rebar3_proper]}.

{escript_incl_apps, [bday]}.
{escript_main_app, bday}.
{escript_name, bday}.

%% The PropEr dependency is still required to compile the test cases,
%% but only as a test dependency
{profiles,
    [{test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [proper]}
    ]}
]}.
